:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

@font-face {
  font-family: "Drone Ranger Pro Black";
  src: url("/fonts/dronerangerpro_black.otf") format("opentype");
  font-weight: bolder;
}

@font-face {
  font-family: "Drone Ranger Pro Bold";
  src: url("/fonts/dronerangerpro_bold.otf") format("opentype");
  font-weight: bold;
}

@font-face {
  font-family: "Drone Ranger Pro";
  src: url("/fonts/dronerangerpro_condensed.otf") format("opentype");
  font-weight: normal;
}
